h1 {
  color:#A4A298; 
  font-size: 60px;
  text-align: center;
}

body {
  background-color:white;

}

#one {
  text-align: center;
  color:#A4A298;
}

#two {
  text-align: center;
}

a {
  color:#A4A298;
}

#three {
  text-align:center;
}

#four {
  text-align: center;
  color:#A4A298;
}

h2 {
  color:#A4A298;
}

ul {
  color:#A4A298;
}

